{% load static %}
<section class="h-screen" id="home">
    <div class="h-[85vh] bg-[url('{% static 'images/svg/background/bg.svg' %}')] bg-cover bg-center">
        {#  INCLUDE Nav Bar  #}
        {% include '../navigation/index.html' %}
        <div class="flex flex-col items-center justify-center mx-auto text-white h-full">
            <div class="text-center">
                <h1 class="text-[2rem] md:text-[4vw] font-bold drop-shadow-lg">JHONE JHEE ADRIAN PATACSIL</h1>
            </div>
            <div class="text-center">
                <h1 class="text-[1rem] md:text-[2vw] drop-shadow-lg">Aspiring Developer</h1>
            </div>
            <div class="mt-[1rem]">
                <a class="bg-white text-black text-center px-[32px] py-[8px] rounded-full shadow-lg hover:bg-[gray] hover:bg-accent hover:cursor-pointer w-auto" href="mailto:jhonejheepatacsil@gmail.com">CONTACT ME</a>
            </div>
        </div>
    </div>
</section>
