{% load static %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth select-none">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" type="image/x-icon" href="{% static 'images/png/favicon.png' %}">
        <title>Jhone Jhee Patacsil</title>
        {# Tailwind #}
        {% include '../tailwind/tailwindcss.html' %}
        {# Google Font #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap" rel="stylesheet">
    </head>

    <body class="font-[Poppins] text-sm leading-normal tracking-normal bg-dimwhite">
        {# Home #}
        {% include '../home/index.html' %}
        {# Tech Stack #}
        {% include '../techstack/index.html' %}
        {# Works #}
        {% include '../works/index.html' %}
        {# Footer #}
        {% include '../footer/index.html' %}
    </body>
</html>
