{% load static %}
<script type="application/javascript" src="{% static 'scripts/mobilenav.js' %}"></script>
<header class="w-full py-[2vh]" id="navbar-default">
    <nav class="md:flex justify-between items-center w-[90%] md:w-[70%] mx-auto">
        <div class="flex justify-between items-center">
            <div class="text-white">
                <a class="w-16">
                    <a href="jhonejhee.pythonanywhere.com">
                        <span>jhonejhee</span>
                    </a>
                </a>
            </div>
            <button class="md:hidden block" type="button" id="menu-button" onclick="showMenu()">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
        </div>

        <div class="text-white w-full md:block hidden md:w-auto md:static absolute md:mt-0 mt-[2vh] left-0 md:bg-transparent bg-[rgba(0,0,0,0.5)] md:py-0 py-4 md:transition-none transition-all ease-in-out duration-500" id="navbar-menu-items">
            <ul class="flex items-center justify-center md:gap-[2vw] md:flex-row flex-col">
                <li class="py-2 md:py-0 w-full text-center md:hover:bg-transparent hover:bg-[rgba(0,0,0,0.1)] hover:cursor-pointer" onclick="clickHandler('#home')">
                    <a class="hover:text-gray-200 drop-shadow-2xl whitespace-nowrap">HOME</a>
                </li>
                <li class="py-2 md:py-0 w-full text-center md:hover:bg-transparent hover:bg-[rgba(0,0,0,0.1)] hover:cursor-pointer" onclick="clickHandler('#techstack')">
                    <a class="hover:text-gray-200 drop-shadow-2xl whitespace-nowrap">TECH STACK</a>
                </li>
                <li class="py-2 md:py-0 w-full text-center md:hover:bg-transparent hover:bg-[rgba(0,0,0,0.1)] hover:cursor-pointer" onclick="clickHandler('#projects')">
                    <a class="hover:text-gray-200 drop-shadow-2xl whitespace-nowrap">PROJECTS</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
