<header class="w-full py-[2vh]">
    <nav class="flex justify-between items-center w-[90%] md:w-[70%] mx-auto">
        <div class="text-white">
            <a class="w-16">
                <a href="#">
                    <span>jhonejhee</span>
                </a>
            </a>
        </div>
        <button class="md:hidden block" type="button" data-collapse-toggle="navbar-default">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
        <div class="text-white hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex items-center gap-[2vw]">
                <li>
                    <a class="hover:text-gray-200 drop-shadow-2xl" href="#home">HOME</a>
                </li>
                <li>
                    <a class="hover:text-gray-200 drop-shadow-2xl" href="#techstack">TECH STACK</a>
                </li>
                <li>
                    <a class="hover:text-gray-200 drop-shadow-2xl" href="#projects">PROJECTS</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
